* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	height: 100vh;
	background-image: linear-gradient(
		343deg,
		rgb(14, 46, 143) 0%,
		rgb(80, 110, 194) 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 1000px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title h1,
.title p {
	text-align: center;
	margin-bottom: 15px;
}

.title h1 {
	font-size: 60px;
	color: #e0d543;
}

.title p {
	font-size: 30px;
}

.ball-img {
	position: relative;
	width: 400px;
	height: 250px;
	overflow: hidden;
}

.ball-img img {
	width: 300px;
	position: absolute;
	top: 10px;
	left: -6px;
	cursor: pointer;
}

.question-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}
.question-area h2 {
	margin-bottom: 10px;
	font-size: 36px;
}

.question-area input {
	width: 80%;
	padding: 10px 20px;
	font-size: 20px;
	border: 1px solid #948d34;
	border-radius: 7px;
}

.question-area .answer {
	font-size: 25px;
    color: #E0A53F;
	margin-top: 20px;

}

.question-area .answer span {
	font-weight: bold;
}

.question-area .error {
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #e0746c;
}

.shake-anime {
    animation: shake 1s ease-out 1;
}

@keyframes shake {
	0% {
		left: 60px;
	}
	20% {
		left: -6px;
	}
	40% {
		left: 60px;
	}
	60% {
		left: -6px;
	}
	80% {
		left: 60px;
	}
	100% {
		left: -6px;
	}
}
